.main {
  width: 100%;
  position: relative;

  &__image {
    width: 100vw;
    height: 500px;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }

  &__logo {
    position: absolute;
    width: 300px;
    left: 20px;
    top: 20px;
    cursor: pointer;
  }
}
