.main {
  width: 100%;
  position: relative;

  &__image {
    width: 100vw;
    height: 500px;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }

  &__logo {
    position: absolute;
    width: 300px;
    left: 20px;
    top: 20px;
    cursor: pointer;

    &-link {
      display: inline-block;
      text-decoration: none;
    }
  }

  &__article {
    position: relative;
    top: 250px;
    left: 580px;
    background-color: #e9e9e9;
    border-radius: 4px;
    width: 400px;
    height: 200px;
  }

  &__button {
    position: absolute;
    background-color: $orange;
    bottom: 10px;
    left: 50px;
    color: $white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
}
