.about {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 30%;
    }

    &__item {
        margin-bottom: 10px;
        color: $black;
    }
}